.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
}


.paginationBttns {
  float: right;
  margin-top: 1.5rem;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
}

.paginationBttns a {
  padding: 10px;
  margin: 3px;
  border-radius: 5px;
  border: 1px solid silver;
  color: #0083CA;
  cursor: pointer;
}

.paginationBttns a:hover {
  color: white;
  background-color: #0083CA;
}

.paginationActive a {
  color: white;
  background-color: #0083CA;
}

.paginationDisabled a {
  color: #0083CA;
  background-color: #0083CA;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
