@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar-brand{
    color: white;
    font-size: larger;
    font-weight: bold;
    float: left;
}
.nav-col{
    background-color: #0083CA;
}

